<?xml version="1.0" encoding="UTF-8"?> 
<Configuration status="WARN"> 
<Appenders> 
  <Console name="Console" target="SYSTEM_OUT"> 
    <PatternLayout pattern="%d{HH:mm:ss} %-5p %c %M(%L)- %m%n"/> 
  </Console> 
</Appenders> 
<Loggers> 
  <Root level="info"> 
    <AppenderRef ref="Console"/> 
  </Root> 

<Logger name="jdbc.sqlonly" level="off" additivity="false"> 
  <AppenderRef ref="Console" /> 
</Logger> 
 
<Logger name="jdbc.sqltiming" level="debug" additivity="false"> 
  <AppenderRef ref="Console" /> 
</Logger> 
 
<Logger name="jdbc.resultsettable" level="info" additivity="false"> 
  <AppenderRef ref="Console" /> 
</Logger>

<Logger name="jdbc.connection" level="off" additivity="false"> 
  <AppenderRef ref="Console" /> 
</Logger>  
 
<Logger name="jdbc.audit" level="off" additivity="false"> 
  <AppenderRef ref="Console" /> 
</Logger> 
 
<Logger name="jdbc.resultset" level="off" additivity="false"> 
  <AppenderRef ref="Console" /> 
</Logger>

<Logger name="com.zaxxer.hikari" level="off" additivity="false"> 
  <AppenderRef ref="Console" /> 
</Logger>

<Logger name="org.springframework.web" level="debug" additivity="false"> 
  <AppenderRef ref="Console" /> 
</Logger>

</Loggers> 
</Configuration>