<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form>
		제목: <input id="title"><br>
		작성자: <input id="author"><br>
		<textarea rows="3" cols="50" id="content"></textarea>
		<button type="button" id="btn-save">등록</button>
	</form>
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script>
		var main = { init : function(){
			var _this = this;
			$("#btn-save").on("click", function() {
				_this.save();
			})
		},
		save : function(){
			if(! $("#content").val()) {
				alert("글등록");
				return;
			}
			var data = {
					title : $('#title').val(),
					author : $('#author').val(),
					content : $("#content").val()
			};
			$.ajax({
				url: "/api/v1/posts",
				type: "post",
				contentType: "application/json",
				data: JSON.stringify(data)
			})
			.done(result => {
				alert("글이 등록되었슴당.");
				location.href="/";
			})
			.fail(error => {
				alert(error);
			});
		} //end of save
	}; //end of main
	main.init();
	</script>
</body>
</html>