<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="speaker" class="com.container.AppleSpeaker"></bean>
	<bean id="tv" class="com.factory.SamsungTV">
		<!-- <constructor-arg ref="speaker"></constructor-arg> --> <!-- 생성자 방식 -->
		<property name="speaker" ref="speaker"></property> <!-- setter 방식 -->
	</bean>
</beans>