<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.board.mapper.BoardMapper">


	<resultMap type="BoardVO" id="boardmap">
	 <id column="BNO" property="bno"/>
	 <result column="TITLE" property="title"/>
	 <result column="WRITER" property="writer"/>
	 <result column="CONTENT" property="content"/>
	 <result column="REGDATE" property="regdate"/>
	 <result column="UPDATEDATE" property="updatedate"/>
	 <collection property="reply" ofType="ReplyVo">
	 	<id column="RNO" property="rno" />
	 	<result column="REPLY" property="reply"/>
	 	<result column="REPLYER" property="replyer"/>
	 </collection>
	</resultMap>
<select id="getListByWirter">
	SELECT *
	  FROM TBL_BOARD
	  <where>
	   <if test="writer != null">WRITER like '%${writer}%'</if>
	   <if test="title != null">AND TITLE like '%${title}%'</if>
	  </where>
</select>

	<select id="getList" resultMap="boardmap">
	SELECT A.*,
	       B.RNO, B.REPLY, B.REPLYER
	  FROM TBL_BOARD A
	  LEFT OUTER JOIN TBL_REPLY B ON (A.BNO = B.BNO)
	</select>
	
	<insert id="insertBoard">
		<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
		SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_BOARD(BNO, TITLE, CONTENT, WRITER)
		VALUES (#{bno},#{title},#{content},#{writer})
	</insert>
	
	<update id="updateBoard">
		UPDATE TBL_BOARD
		   SET TITLE = #{title},
		       CONTENT = #{content}
		 WHERE BNO = ${bno}
	</update>
	
<!-- 	<delete id="deleteBoard">
		DELETE
		FROM TBL_BOARD
		WHERE BNO = ${bno}
	</delete> -->
	
	<select id="getBoard">
		select *
		from tbl_board
		where bno = ${bno}
	</select>
	
	<select id="count">
		select count(*) from tbl_board
	</select>
	
	<delete id="deleteBoard" statementType="CALLABLE" parameterType="map">
		{ call PROC_BOARD_DELETE( #{bno}, #{result, mode=OUT, jdbcType=VARCHAR, javaType=string} )}
	</delete>
</mapper>